## Wczytanie danych orders.csv do DataFrame
Zaimportuj plik CSV do obiektu pandas.DataFrame i wyświetl pierwsze 20 wierszy.

## Analiza struktury i zawartości danych
Sprawdź informacje o DataFrame (typy kolumn, liczba niepustych wartości), a także liczby unikalnych wartości w kolumnie Order Id.

## Analiza unikalnych wartości w wybranych kolumnach
Wyświetl unikalne wartości w kolumnach Order Date, Ship Mode i Category.

## Czyszczenie danych w kolumnie 'Ship Mode'
Zamień wartości 'Not Available' i 'unknown' na wartość null (np.nan) i ponownie wyświetl unikalne wartości.

## Standaryzacja nazw kolumn
Zmień nazwy wszystkich kolumn na małe litery, a następnie zamień spacje na podkreślniki.

##

## Dodanie kolumn obliczeniowych
Na podstawie kolumn list_price oraz discount_percent wylicz wartości: discount, sales_price, profit i dodaj je do DataFrame.

##

## Usunięcie zbędnych kolumn
Usuń z DataFrame kolumny: list_price, discount_percent, cost_price.

## Konwersja typu danych w kolumnie 'order_date'
Przekonwertuj kolumnę order_date na typ daty.

## Wyświetlenie typów danych w DataFrame
Wyświetl typy danych wszystkich kolumn.

## Połączenie z bazą danych SQL Server
Utwórz połączenie z bazą danych MS SQL Server przy użyciu SQLAlchemy.

## Zapis danych do tabeli w SQL
Zapisz DataFrame do tabeli df_orders w bazie danych, zastępując istniejącą tabelę.

## (Opcjonalnie) Tworzenie tabeli przez skrypt SQL
Przygotuj skrypt SQL do utworzenia tabeli z odpowiednimi typami danych.

## Dopisanie danych do istniejącej tabeli SQL
Wstaw dane z DataFrame do istniejącej już tabeli bez jej nadpisywania.